.announcement-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.recent-announcement-img {
    min-width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
}
