@import "../variables";
.ng-dropdown-panel {
  z-index: 8 !important;
}

.dropdown-toggle.no-caret::after {
  display: none;
}

.transparent-mode {
  .drops-down-auto {
    background: $transparent-body !important;
    .calendar {
      .calendar-table {
        background: $transparent-theme !important;
        border: 1px solid $transparent-border !important;
      }
    }
  }
  .btn-light {
    color: $white !important;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    color: $white !important;
  }

  .dropdown-list ul li:hover {
    background: $transparent-primary;
  }

  .selected-list .c-btn {
    background-color: $transparent-primary;
  }
  .ng-valid {
    // background-color: $white-1;
    color: $white;
  }

  .record-picker li:hover {
    background-color: $transparent-primary !important;
  }

  .select2-selection {
    background-color: $transparent-primary !important;
    color: $white;
  }
  .select2-dropdown {
    background-color: $transparent-primary !important;
    color: $white;
  }
  .select2-results__options {
    div {
      background-color: $transparent-primary !important;
      color: $white;
    }
  }
  .select2-search--dropdown {
    background-color: $transparent-primary !important;
    color: $white;
  }
  .select2-search__field {
    color: $white;
  }

  .accordion-item .accordion-body {
    color: $white;
  }

  .search-result,
  .serach-result-empty {
    background-color: $transparent-body;
  }
  .search-result[_ngcontent-ajq-c108]
    .header-list-group[_ngcontent-ajq-c108]:hover {
    background-color: $transparent-primary;
    color: #fff;
  }

  ngb-alert {
    // background-color: $transparent-theme !important;
    border-color: $transparent-theme;
  }

  .alert-light {
    background-color: transparent !important;
  }

  countries-map-base {
    svg {
      background-color: transparent !important;
    }
  }

  .iti__country-list {
    background-color: $transparent-body;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
  }

  .c-remove {
    c-icon {
      filter: invert(1);
    }
  }
  .iti__country-name {
    color: $white;
  }
  .custom,
  .ng-valid {
    color: $white;
  }

  li.slide.active .material-icons-two-tone,
  li.slide:hover .material-icons-two-tone {
    filter: invert(80%) sepia(94%) saturate(10000%) hue-rotate(208deg)
      brightness(162%) contrast(112%);
  }
  li.slide .material-icons-two-tone {
    filter: invert(78%) sepia(98%) saturate(10034%) hue-rotate(214deg)
      brightness(162%) contrast(112%) !important ;
  }
  .dropdown button.btn-light:focus,
  .show > .btn-outline-light.dropdown-toggle:focus {
    color: $transparent-primary !important;
    box-shadow: none;
  }
  .main-contact-item + .main-contact-item::before {
    border-top-color: transparent;
  }
  .cal-month-view .cal-day-number {
    color: $white !important;
  }
  #external-events {
    background-color: transparent !important;
    border-color: $transparent-border !important;
  }
  .cal-month-view {
    background-color: $transparent-theme;
  }
  .cal-header {
    border-top-color: $transparent-border;
    border-left-color: $transparent-border;
    border-right-color: $transparent-border;
  }
  .cal-month-view .cal-day-cell:not(:last-child) {
    border-right-color: $transparent-border;
  }
  .cal-month-view .cal-days .cal-cell-row {
    border-bottom-color: $transparent-border;
  }
  .cal-month-view .cal-days {
    border-color: $transparent-border;
  }
  .cal-cell {
    border-right-color: $transparent-border;
  }
  .cal-week-view {
    background-color: $transparent-body;
    border-top-color: $white-1;
  }
  .cal-week-view .cal-hour-odd {
    background-color: $transparent-body;
  }
  .cal-week-view .cal-header.cal-today {
    background-color: $white-1;
  }
  .cal-week-view .cal-day-headers .cal-header:hover,
  .cal-week-view .cal-day-headers .cal-drag-over,
  .cal-week-view
    .cal-time-events
    .cal-day-columns:not(.cal-resize-active)
    .cal-hour-segment:hover {
    background-color: $white-1;
  }
  .cal-week-view .cal-day-headers {
    border-color: $white-1;
  }
  .cal-week-view .cal-day-headers .cal-header:first-child {
    border-left-color: $white-1;
  }
  .cal-week-view .cal-day-headers .cal-header:not(:last-child) {
    border-right-color: $white-1;
  }
  .cal-week-view .cal-time-events {
    border-color: $white-1;
  }
  .cal-week-view .cal-day-column {
    border-left-color: $white-1;
  }

  &.rtl .cal-week-view .cal-day-headers .cal-header:first-child {
    border-right-color: $white-1 !important;
    border-left-color: inherit;
  }
  &.rtl .cal-week-view .cal-day-headers .cal-header:not(:last-child) {
    border-left-color: $white-1 !important;
    border-right-color: inherit;
  }
  &.rtl .cal-week-view .cal-time-events {
    border-color: $white-1;
  }
  &.rtl .cal-week-view .cal-day-column {
    border-left-color: $white-1 !important;
    border-right-color: $white-1;
  }

  .cal-week-view .cal-hour:not(:last-child) .cal-hour-segment,
  .cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
    border-bottom-color: $white-1;
  }
  .cal-month-view .cal-day-cell.cal-today,
  .cal-month-view .cal-cell-row .cal-cell:hover {
    background-color: $transparent-theme;
  }
  .cal-month-view .cal-cell-row:hover {
    background-color: $transparent-theme;
  }
  .mat-autocomplete-trigger {
    color: $transparent-primary;
    &::placeholder {
      color: $transparent-primary;
    }
  }

  .accordion-item .accordion-body {
    // background-color: $transparent-body;
    padding: 20px 20px;
  }

  // .accordion-button:not(.collapsed) {
  //   background-color: $dark-body;
  //   font-weight: 500;
  //   letter-spacing: -0.1px;
  //   font-size: 14px;
  //   box-shadow: none;
  //   color: $white;
  // }

  .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    color: $default-color;
  }
  .apexcharts-theme-light
    .apexcharts-selection-icon:not(.apexcharts-selected):hover
    svg,
  .apexcharts-theme-light
    .apexcharts-zoom-icon:not(.apexcharts-selected):hover
    svg,
  .apexcharts-theme-light .apexcharts-zoomin-icon:hover svg,
  .apexcharts-theme-light .apexcharts-zoomout-icon:hover svg,
  .apexcharts-theme-light .apexcharts-reset-icon:hover svg,
  .apexcharts-theme-light .apexcharts-menu-icon:hover svg {
    fill: $transparent-primary;
  }

  .ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: $transparent-primary transparent transparent;
  }

  .ng-select .ng-clear-wrapper {
    color: $transparent-primary;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: $transparent-primary;
  }
  .ng-dropdown-panel {
    border-color: $transparent-border;
    background-color: $transparent-body;
  }

  .prev-price {
    color: $transparent-primary !important;
  }

  .horizontalMenucontainer .main-header {
    background: $primary-1;
  }

  //tags
  .mat-autocomplete-panel {
    background-color: $primary-1;
  }

  .mat-option-text {
    color: #323131;
  }

  // .mat-option-text:hover{
  //   color: $dark-body;
  //   background-color: #eee;
  // }

  //tags-end

  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background-color: transparent;
  }

  .mat-step-text-label {
    color: #eee;
  }

  .apexcharts-menu {
    background-color: $primary-1;
    color: $white;

    .apexcharts-menu-item:hover {
      color: $black;
    }
  }

  .ng-select .ng-select-container,
  .ng-select input {
    color: $white !important;
    background: var(--transparent-body);
    border: none;
    outline: none;
    border-radius: 0.25rem;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: var(--transparent-body);
    color: $white;
  }

  ngx-dropzone,
  .custom-dropzone {
    background: var(--transparent-theme);
    color: $white !important;
    border: 2px dashed $transparent-border !important;
  }

  .record-picker[_ngcontent-gox-c195] li[_ngcontent-gox-c195] {
    border-top: thin solid $transparent-border;
    border-bottom: 1px solid $transparent-border;
  }

  .c-btn.disabled {
    background: $primary-1 !important;
    cursor: not-allowed !important;
  }

  .selected-list,
  .lazyContainer,
  .pure-checkbox {
    background-color: $primary-1;
    color: $white;
  }

  .ngb-dp-weekdays {
    background-color: $primary-1;
    color: $white;
  }

  .ngb-dp-header {
    background-color: $primary-1;
    color: $white;
  }

  .c-btn,
  .list-filter,
  .select-all,
  .list-area {
    border-color: $transparent-border;
  }

  .selected-list .c-angle-down svg,
  .selected-list .c-angle-up svg {
    fill: $transparent-primary;
  }

  .list-area {
    background-color: $transparent-body;
  }

  .arrow-down,
  .arrow-up {
    border-bottom: 15px solid $transparent-body;
  }

  .iti.iti--allow-dropdown {
    input {
      background-color: transparent;
      border-bottom-color: $transparent-border;
    }
  }

  .dropdown-menu.country-dropdown.show {
    background-color: $transparent-body;
    border-color: $transparent-border;
  }

  .ck.ck-toolbar {
    background: $transparent-body;
    border-color: $transparent-border;
  }

  .ck.ck-icon,
  .ck.ck-icon *,
  .ck.ck-button .ck-button__label,
  a.ck.ck-button .ck-button__label {
    color: $transparent-primary;
  }

  .ck.ck-button:not(.ck-disabled):hover,
  a.ck.ck-button:not(.ck-disabled):hover,
  .ck.ck-button.ck-on:not(.ck-disabled):hover,
  a.ck.ck-button.ck-on:not(.ck-disabled):hover,
  .ck.ck-button.ck-on,
  a.ck.ck-button.ck-on {
    background: $white-1;
  }

  .ck.ck-editor__main > .ck-editor__editable,
  .ck.ck-list,
  .ck.ck-dropdown__panel,
  .ck.ck-input {
    background-color: $transparent-body;
  }

  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
  .ck.ck-dropdown__panel {
    border-color: $transparent-border;
  }

  .ck.ck-list__item .ck-button:hover:not(.ck-disabled) {
    background-color: $white-1;
  }

  .angular-editor-toolbar .angular-editor-button.active {
    color: $white !important;
  }

  .angular-editor-wrapper .angular-editor-textarea {
    border-color: $transparent-border !important;
  }

  .ae-font .ae-picker-label {
    background-color: transparent;
    color: $transparent-primary;
    border-color: $transparent-border;
  }

  .ae-font .ae-picker-label:before {
    background: linear-gradient(
      to right,
      $transparent-body,
      $transparent-body 100%
    );
  }

  .ae-font .ae-picker-label:hover,
  .angular-editor-toolbar-set .select-heading {
    background-color: transparent;
  }

  ae-select:hover {
    background-color: transparent !important;
  }

  .ae-font .ae-picker-label:hover:before {
    background: linear-gradient(
      to right,
      $transparent-body,
      $transparent-body 100%
    );
  }

  .ae-font .ae-picker-options {
    background-color: $transparent-body;
  }

  .ae-font.ae-expanded .ae-picker-options {
    border-color: $transparent-border;
  }

  .ae-font .ae-picker-label:disabled,
  .ae-font .ae-picker-label:disabled:before {
    background-color: $white-1;
  }

  .ql-snow .ql-picker-options {
    background-color: $transparent-body !important;
  }

  .custom-control-input:disabled ~ .custom-control-label {
    color: $white-4;
  }

  code {
    color: #fe89c2;
  }
}


.ng-dropdown-panel.ng-select-bottom {
  margin-top: 0px !important;
}

.show > .btn-outline-light.dropdown-toggle:focus {
  color: $default-color !important;
}

.show > .btn-light.dropdown-toggle:focus {
  box-shadow: none;
}


ngx-dropzone-label {
  z-index: 0 !important;
}

ngx-dropzone,
.custom-dropzone {
  color: $default-color !important;
  border: 2px dashed $border !important;
}

ngx-dropzone,
.custom-dropzone {
  margin: 5px;
}

.dark-mode {
  ngx-dropzone,
  .custom-dropzone {
    color: $text-color !important;
    border: 2px dashed $border-dark !important;
  }
}
.dark-mode {
  .md-drppicker.drops-down-auto {
    background-color: $dark-theme-1 !important;
  }
  .md-drppicker .calendar-table {
    background-color: $dark-theme-1 !important;
    border: 1px solid $border-dark !important;
  }
  .md-drppicker td.off,
  .md-drppicker td.off.end-date,
  .md-drppicker td.off.in-range,
  .md-drppicker td.off.start-date {
    background-color: $white-1;
    border-color: transparent;
    color: $text-color;
  }
  .md-drppicker th {
    color: $text-color;
  }
  .md-drppicker td.available:hover,
  .md-drppicker th.available:hover {
    background-color: $white-1;
    color: $text-color;
  }
  .md-drppicker td.in-range {
    background-color: $white-1;
    border-color: transparent;
    color: $text-color;
  }
  .md-drppicker td.active,
  .md-drppicker td.active:hover {
    background-color: $primary-1 !important;
  }
}
.transparent-mode {
  .md-drppicker th {
    color: $text-color;
  }
  .md-drppicker td.off,
  .md-drppicker td.off.end-date,
  .md-drppicker td.off.in-range,
  .md-drppicker td.off.start-date {
    background-color: $white-1;
    border-color: transparent;
    color: $text-color;
  }
  .md-drppicker td.available:hover,
  .md-drppicker th.available:hover {
    background-color: $white-1;
    color: $text-color;
  }

  .md-drppicker td.in-range {
    background-color: $white-1;
    border-color: transparent;
    color: $text-color;
  }
}

.md-drppicker td.active,
.md-drppicker td.active:hover {
  background-color: $primary-1 !important;
  opacity: 1 !important;
}

.md-drppicker .btn,
.md-drppicker .btn:focus,
.md-drppicker .btn:hover {
  background-color: $primary-1 !important;
}

.dark-mode,
.transparent-mode {
  .record-picker {
    border: 1px solid $border-dark !important;
  }
  .record-picker li {
    border-top: thin solid $border-dark !important;
    border-bottom: 1px solid $border-dark !important;
  }
  input::-webkit-input-placeholder {
    color: $white-7 !important;
  }
}
.rtl {
  .dual-list .listbox {
    margin-right: 10px !important;
    margin-left: 0 !important;
  }
  .point-left:before {
    padding-left: 1em !important;
    padding-right: inherit !important;
  }
  .point-right:after {
    padding-right: 1em !important;
    padding-left: inherit !important;
  }
  .pull-left {
    float: right;
  }
}
