@import "../variables";
ngb-datepicker-navigation-select > .form-select {
  margin: 2px;
}
.dark-mode,
.transparent-mode {
  .btn-light.ng-star-inserted {
    background-color: transparent;
  }
}

.transparent-mode {
  .table.table-bordered {
    border-top-color: $white-1;
  }
}

.dark-mode,
.transparent-mode {
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-x:hover,
  .ps .ps__rail-y.ps--clicking,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-y:hover {
    background-color: $white-1;
  }
  perfect-scrollbar > .ps.ps--scrolling-x > .ps__rail-x,
  perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y {
    background-color: $white-1;
  }
}

.swal2-styled.swal2-default-outline:focus {
  box-shadow: none !important;
}

.ngx-slider .ngx-slider-selection {
  background-color: $primary-1 !important;
}
.ngx-slider.slider1 .ngx-slider-pointer:after {
  background-color: $primary-1 !important;
}
.ngx-slider-span.ngx-slider-bubble.ngx-slider-model-value,
.ngx-slider-span.ngx-slider-bubble.ngx-slider-model-high {
  background-color: $primary-1 !important;
}
.ngx-slider.slider2 .ngx-slider-pointer,
.ngx-slider.slider3 .ngx-slider-pointer {
  border: 1px solid $primary-1 !important;
}
.ngx-slider.slider3 .ngx-slider-pointer:after {
  background-color: $primary-1 !important;
}
.ngx-slider.slider3 .ngx-slider-bar {
  border: 1px solid $primary-02 !important;
}

.rtl .br-horizontal .br-text {
  margin-right: 20px;
  margin-left: inherit;
}
