@import "../variables";
// ng select
.dark-mode {
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    color: $white !important;
  }

  .dropdown-list ul li:hover {
    background: $dark-theme-1;
  }

  .selected-list .c-btn {
    background-color: $dark-body;
  }
  .ng-valid {
    // background-color: $dark-body;
    color: $white;
  }

  .record-picker li:hover {
    background-color: $dark-body !important;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
  .ng-dropdown-panel
    .ng-dropdown-panel-items
    .ng-option.ng-option-selected.ng-option-marked {
    color: $white;
    background-color: $dark-theme-1;
  }

  .select2-selection {
    background-color: $dark-theme-1 !important;
    color: $white;
  }
  .select2-results__options {
    background-color: $dark-theme-1 !important;
    color: $white;
  }
  .select2-results__options {
    div {
      background-color: $dark-theme-1 !important;
      color: $white;
    }
  }
  .select2-search--dropdown {
    background-color: $dark-theme-1 !important;
    color: $white;
  }
  .select2-search__field {
    color: $white;
  }

  .select2-selection__rendered {
    span {
      color: $white;
    }
  }

  .accordion-item .accordion-body {
    color: $white;
  }

  countries-map-base {
    svg {
      background-color: transparent !important;
    }
  }

  ngb-alert {
    // background-color: $dark-theme-1 !important;
    border-color: $dark-theme-1;
  }

  .alert-light {
    background-color: $dark-theme-1 !important;
  }

  .c-remove {
    c-icon {
      filter: invert(1);
    }
  }
  .iti__country-name {
    color: $white;
  }
  .custom,
  .ng-valid {
    color: $white;
  }

  .accordion-item .accordion-body {
    // background-color: $dark-body;
    padding: 20px 20px;
  }

  // .accordion-button:not(.collapsed) {
  //   background-color: $dark-body;
  //   font-weight: 500;
  //   letter-spacing: -0.1px;
  //   font-size: 14px;
  //   box-shadow: none;
  //   color: $white;
  // }

  .alert-outline-success,
  .alert-outline-info,
  .alert-outline-warning,
  .alert-outline-danger {
    .btn-close {
      filter: invert(78%) sepia(98%) saturate(10034%) hue-rotate(214deg)
        brightness(162%) contrast(112%) !important;
    }
  }
  .dropdown button.btn-light:focus,
  .show > .btn-outline-light.dropdown-toggle:focus {
    color: $dark !important;
    box-shadow: none;
  }
  .main-contact-item + .main-contact-item::before {
    border-top-color: transparent;
  }
  .cal-month-view .cal-day-number {
    color: $dark;
  }
  .cal-month-view {
    background-color: $dark-body;
  }
  .cal-header {
    border-top-color: $border-dark;
    border-left-color: $border-dark;
    border-right-color: $border-dark;
  }
  .cal-month-view .cal-day-cell:not(:last-child) {
    border-right-color: $border-dark !important;
  }
  .cal-month-view .cal-days .cal-cell-row {
    border-bottom-color: $border-dark !important;
  }
  .cal-month-view .cal-days {
    border-color: $border-dark !important;
  }
  .cal-cell {
    border-right-color: $border-dark !important;
  }
  .cal-month-view .cal-day-cell.cal-today,
  .cal-month-view .cal-cell-row .cal-cell:hover {
    background-color: $dark-theme-1;
  }
  .cal-month-view .cal-cell-row:hover {
    background-color: $border-dark !important;
  }
  .cal-week-view .cal-day-headers {
    border-color: $white-1;
  }
  .cal-week-view .cal-day-headers .cal-header:first-child {
    border-left-color: $white-1;
  }
  .cal-week-view .cal-day-headers .cal-header:not(:last-child) {
    border-right-color: $white-1;
  }
  .cal-week-view .cal-time-events {
    border-color: $white-1;
  }
  .cal-week-view .cal-day-column {
    border-left-color: $white-1;
  }
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: $dark-body;
    color: $white;
  }
  .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    color: $default-color;
  }
  .ng-select .ng-clear-wrapper {
    color: $text-color;
  }

  .apexcharts-theme-light
    .apexcharts-selection-icon:not(.apexcharts-selected):hover
    svg,
  .apexcharts-theme-light
    .apexcharts-zoom-icon:not(.apexcharts-selected):hover
    svg,
  .apexcharts-theme-light .apexcharts-zoomin-icon:hover svg,
  .apexcharts-theme-light .apexcharts-zoomout-icon:hover svg,
  .apexcharts-theme-light .apexcharts-reset-icon:hover svg,
  .apexcharts-theme-light .apexcharts-menu-icon:hover svg {
    fill: $dark;
  }

  .ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: $dark transparent transparent;
  }

  //tags
  .mat-autocomplete-panel {
    background-color: $dark-body;
  }

  .mat-option-text {
    color: #9d9999;
  }

  .mat-option:hover {
    color: $dark-body;
    background-color: #eee;
  }

  .mat-autocomplete-trigger {
    color: $dark;
    &::placeholder {
      color: $dark;
    }
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: $dark;
  }

  //tags-end

  .ng-dropdown-panel {
    background-color: $dark-body;
    border: 1px solid $dark-body;
  }

  .apexcharts-menu {
    background-color: $dark-body;
    color: $white;

    .apexcharts-menu-item:hover {
      color: $black;
    }
  }

  .ng-select .ng-select-container,
  .ng-select input {
    color: $white !important;
    background: $dark-body;
    border: 1px solid $border-dark;
    outline: none;
    border-radius: 0.25rem;
  }

  .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    border-color: $primary-1 !important;
  }

  ngx-dropzone,
  .custom-dropzone {
    background: $dark-body;
    color: $white;
    border: 2px dashed $white;
  }

  // form wizard
  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background-color: transparent;
  }

  .mat-step-text-label {
    color: #eee;
  }

  .lazyContainer,
  .pure-checkbox {
    background-color: $dark-body;
    color: $white;
  }

  .c-btn.disabled {
    background: #1f2940 !important;
    cursor: not-allowed !important;
  }

  .ngb-dp-weekdays {
    background-color: $dark-body;
    color: $white;
  }

  .ngb-dp-header {
    background-color: $dark-body;
    color: $white;
  }

  .c-btn,
  .list-filter,
  .select-all,
  .list-area {
    border-color: $border-dark;
  }

  .selected-list .c-angle-down svg,
  .selected-list .c-angle-up svg {
    fill: $dark;
  }

  .list-area {
    background-color: $dark-body;
  }

  .arrow-down,
  .arrow-up {
    border-bottom: 15px solid $dark-body;
  }

  .iti.iti--allow-dropdown {
    input {
      background-color: transparent;
      border-bottom-color: $border-dark;
    }
  }

  .dropdown-menu.country-dropdown.show {
    background-color: $dark-body;
    border-color: $border-dark;
  }

  .ck.ck-toolbar {
    background: $dark-body;
    border-color: $border-dark;
  }

  .ck.ck-icon,
  .ck.ck-icon *,
  .ck.ck-button .ck-button__label,
  a.ck.ck-button .ck-button__label {
    color: $dark;
  }

  .ck.ck-button:not(.ck-disabled):hover,
  a.ck.ck-button:not(.ck-disabled):hover,
  .ck.ck-button.ck-on:not(.ck-disabled):hover,
  a.ck.ck-button.ck-on:not(.ck-disabled):hover,
  .ck.ck-button.ck-on,
  a.ck.ck-button.ck-on {
    background: $white-1;
  }

  .ck.ck-editor__main > .ck-editor__editable,
  .ck.ck-list,
  .ck.ck-dropdown__panel,
  .ck.ck-input {
    background-color: $dark-body;
  }

  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
  .ck.ck-dropdown__panel {
    border-color: $border-dark;
  }

  .ck.ck-list__item .ck-button:hover:not(.ck-disabled) {
    background-color: $white-1;
  }

  .angular-editor-toolbar .angular-editor-button.active {
    color: $white !important;
  }

  .main-mail-compose-body .form-group .nav-link:hover,
  .main-mail-compose-body .form-group .nav-link:focus {
    color: $dark;
  }
  .toast-header svg {
    fill: $dark;
  }
}

.form-lg .ng-select-container {
  height: 44px !important;
}

.form-md .ng-select-container {
  height: 38px !important;
}
.ng-select .ng-select-container {
  border: 1px solid $border !important;
  box-shadow: none !important;
}

.dark-mode .ng-select .ng-select-container {
  border: 1px solid $border-dark !important;
}
.transparent-mode .ng-select .ng-select-container {
  border: 1px solid $transparent-border !important;
}

.ng-select.ng-select-opened .ng-select-container {
  z-index: 5 !important;
}

.ng-select .ng-select-container {
  box-shadow: 0 1px 0 rgb(0 0 0 / 6%);
}
