
/* FONT */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');


/*  BOOTSTRAP  */

@import "variables";
@import "bootstrap/bootstrap-styles";
@import "bootstrap/accordion";
@import "bootstrap/alert";
@import "bootstrap/avatars";
@import "bootstrap/badges";
@import "bootstrap/blackquote";
@import "bootstrap/breadcrumb";
@import "bootstrap/button";
@import "bootstrap/buttons";
@import "bootstrap/cards";
@import "bootstrap/carousel";
@import "bootstrap/dropdown";
@import "bootstrap/forms";
@import "bootstrap/grid";
@import "bootstrap/input-group";
@import "bootstrap/modal";
@import "bootstrap/navigation";
@import "bootstrap/pagination";
@import "bootstrap/panel";
@import "bootstrap/popover";
@import "bootstrap/progress";
@import "bootstrap/tables";
@import "bootstrap/tags";
@import "bootstrap/thumbnail";
@import "bootstrap/tooltip";

/*  ######## CUSTOM-STYLES ######## */

@import "custom/bootstrap-input-spinner";
@import "custom/components-col";
@import "custom/custom-forms";
@import "custom/custom-styles";
@import "custom/file-manager";
@import "custom/font";
@import "custom/gallery";
@import "custom/highlight";
@import "custom/labels";
@import "custom/landing";
@import "custom/list-group";
@import "custom/media";
@import "custom/navbar";
@import "custom/pricing";
@import "custom/rating";
@import "custom/ribbons";
@import "custom/tabs-menu";
@import "custom/timeline";

/* ######## LAYOUT-STYLES ######## */

@import "layouts/footer";
@import "layouts/header";
@import "layouts/horizontal-menu";
@import "layouts/icons-list";
@import "layouts/loaders";
@import "layouts/rtl";
@import "layouts/layout-color";
@import "layouts/dark-style";
@import "layouts/skin-modes";
@import "layouts/transparent-style";

/* ######## LIBRARY-STYLES ######## */

@import "lib/datepicker";
@import "lib/jvector";
@import "lib/select2";
@import "lib/select-group";

/* ######## SIDEMENU-STYLES ######## */

@import "sidemenu/default-menu";
@import "sidemenu/sidemenu-icontext";
@import "sidemenu/closed-menu";
@import "sidemenu/hover-submenu";
@import "sidemenu/hover-submenu-style1";
@import "sidemenu/double-menu-styles";
@import "sidemenu/double-menu-tabs";

/* ######## TEMPLATE-STYLES ######## */

@import "template/calender";
@import "template/chart";
@import "template/chat";
@import "template/error-pages";
@import "template/range";
@import "template/ribbon";
@import "template/form-wizard";
@import "template/widgets";

/* ######## UTILITIES-STYLES ######## */

@import "utilities/alignments";
@import "utilities/background";
@import "utilities/border";
@import "utilities/display";
@import "utilities/float-elements";
@import "utilities/height";
@import "utilities/margin";
@import "utilities/padding";
@import "utilities/position";
@import "utilities/typography";
@import "utilities/width";


/* ######## Angular-customStyles ######## */

@import "customStyles/dropdown";
@import "customStyles/material";
@import "customStyles/ngbdatepicker";
@import "customStyles/ngselect";
@import "customStyles/ngxScrollbar";
@import "customStyles/qltoolbar";
@import "customStyles/custom";
