<app-page-header
  [title]="'Contribution Category'"
  [items]="['Categories']"
  [active_item]="'Category List'"
></app-page-header>

<div class="card-footer text-end" *ngIf="authService.hasPermission('can_create_category')">
  <a  class="btn ms-2 btn-primary my-1" routerLink="/pages/treasury/collection-categories/create">
    <i class="fe fe-plus"></i>  Add Category
  </a>
</div>

<!-- row opened -->
<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card overflow-visible">
      <div class="card-header pb-0">
        <div>
          <h6 class="main-content-label mb-1">Categories</h6>
          <p class="text-muted card-sub-title">
            List of all Contribution Categories.
          </p>
        </div>
      </div>
      <div class="card-body">
        <div class="">
          <form action="" class="ngb-table">
            <div class="form-group form-inline">
              Search
              <input class="form-control ms-2" type="text" (input)="onSearchChange($event)" />
            </div>
            <div class="table-responsive">
              <table
                id="data-table"
                class="table table-striped border"
              >
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th *ngIf="authService.hasPermission('can_view_categories')">Action</th>
                  </tr>
                </thead>
                 <tbody *ngIf="isLoading">
                  <tr *ngFor="let item of [1,2,3,4 ]">
                    <td><div class="skeleton skeleton-text"></div></td>
                    <td><div class="skeleton skeleton-text"></div></td>
                    <td><div class="skeleton skeleton-text"></div></td>
                    <td><div class="skeleton skeleton-btn"></div></td>
                  </tr>
                </tbody>
                
                <tbody *ngIf="!isLoading">
                  <tr *ngFor="let category of paginatedCategories; let i = index">
                    <td>{{(currentPage - 1) * pageSize + i + 1}}</td>
                    <th class="lowercase">{{ category.name }}</th>
                    <th>
                      <span
                      class="badge  rounded-pill p-2 px-3"
                      [ngClass]="category.archived ?  'bg-danger-transparent text-danger' : 'bg-success-transparent text-success' " >
                      {{category.archived ? 'Archived' : 'Active' }}
                    </span>
                    </th>
                    <td>
                      <div class="g-2">
                        <td>
                          <div class="g-2">
                            <a
                            *ngIf="authService.hasPermission('can_view_categories')"
                              [routerLink]="['/pages/treasury/collection-categories/', category.id, 'contributions']"
                              class="btn text-primary btn-sm"
                              data-bs-toggle="tooltip"
                              ngbTooltip="View"
                              ><span class="fe fe-eye fs-14"></span
                            ></a>
                            <a
                            *ngIf="authService.hasPermission('can_edit_category')"
                              routerLink="edit/{{ category.id }}"
                              class="btn text-primary btn-sm"
                              ngbTooltip="Edit"
                              ><span class="fe fe-edit fs-14"></span
                            ></a>
                            <a
                            *ngIf="authService.hasPermission('can_delete_category')"
                              (click)="deleteCategory(category.id)"
                              class="btn text-danger btn-sm"
                              data-bs-toggle="tooltip"
                              ngbTooltip="Delete"
                              ><span class="fe fe-trash-2 fs-14"></span
                            ></a>
                          </div>
                        </td>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div style="display: flex; justify-content: space-between; align-items: center; padding-top: 20px;">
                <div>
                  <p>showing {{(currentPage - 1) * pageSize + 1}} to {{(currentPage - 1) * pageSize + paginatedCategories.length}} of {{totalLength}} categories</p>
                </div>
                <div>
                    <ul class="pagination">
                        <li class="page-item page-prev" [class.disabled]="currentPage === 1">
                            <a class="page-link" (click)="onPageChange(currentPage - 1)" tabindex="-1">Prev</a>
                        </li>
                        <li *ngFor="let page of [].constructor(totalPages); let index = index" class="page-item" [class.active]="currentPage === index + 1">
                          <a class="page-link" (click)="onPageChange(index + 1)">{{index + 1}}</a>
                        </li>
                        <li class="page-item" [class.disabled]="currentPage == totalPages">
                            <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

