<app-page-header
  [title]="'Collections'"
  [items]="['Collections']"
  [active_item]="'Members Contributions'"
></app-page-header>

<div class="row row-sm">
    <div class="col-xl-12">
      <div class="card overflow-visible">
        <div class="card-header pb-0">
            <h6 class="main-content-label mb-1">Date: {{collection.contribution_date}}</h6>
          <div class="card-options ">

            <h6 class="main-content-label mb-1">Total: KES {{ collection.total_amount | number: '1.2-2' }}</h6>
        </div>
        </div>
        <div class="card-body">
         
       
        </div>
      </div>
    </div>
  </div>

  <div class="row row-sm">
    <div class="col-xl-12">
      <div class="card overflow-visible">
        <div class="card-header pb-0">
          <div>
            <h6 class="">
              List of all Contribution on Date: {{collection.contribution_date}}.
            </h6>
          </div>
        </div>
        <div class="card-body">
          <div class="">
            <form action="" class="ngb-table">
              <div class="form-group form-inline">
                Search
                <input class="form-control ms-2" type="text" name="searchTerm" />
              </div>
              <div class="table-responsive">
                <table
                  id="data-table"
                  class="table table-bordered border"
                >
                  <thead class="border-top">
                    <tr>
                      <th>No.</th>
                      <th>Name</th>
                      <th>Contribution Category</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let category of collection.contributions; index as i">
                      <th>{{ i + 1 }}</th>
                      <td>
                        {{ category.user ? (category.user.first_name + ' ' + category.user.last_name) : (category.contributor_name || '-') }}
                      </td>
                      <td>{{ category.contribution_type?.name || '-' }}</td>
                      <td>{{ category.contribution_amount | number: '1.2-2' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>