
<div class="page-style1 light-mode default-sidebar error-page1">
    <div class="img-card bg-primary">
        <div class="page">
            <div class="container">
                <div class="row">
                    <div class="col mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-md-7 col-lg-5">
                                <div class="login-option">
                                    <ul ngbNav #nav="ngbNav" >
                                          <li ngbNavItem="Angular">
                                            <ng-template ngbNavContent>
                                                <div class="alert alert-success" *ngIf="message">
                                                    {{message}} 
                                                </div>
                                                <div class="alert alert-danger" *ngIf="error">
                                                    {{error}} 
                                                </div>

                                                <form (ngSubmit)="resetPassword()" >
                                                    <div class="text-center title-style mb-6">
                                                        <h1 class="mb-2">Reset Password</h1>
                                                        <hr>
                                                    </div>
                                                    <div class="input-group mb-4">
                                                      <a  href="javascript:void(0)" class="input-group-text bg-white text-muted" >
                                                      <i  class="zmdi zmdi-eye text-muted"aria-hidden="true" ></i>
                                                        </a>
                                                        <input type="email" class="input100 border-start-0 form-control ms-0" placeholder="Email Address" [(ngModel)]="email" name="email">
                                                    </div>
                                                    <div class="input-group mb-4">
                                                        <a  href="javascript:void(0)" class="input-group-text bg-white text-muted" >
                                                        <i  class="zmdi zmdi-eye text-muted"aria-hidden="true" ></i>
                                                          </a>
                                                          <input type="email" class="input100 border-start-0 form-control ms-0" placeholder="Password" [(ngModel)]="password" name="password">
                                                      </div>
                                                      <div class="input-group mb-4">
                                                        <a  href="javascript:void(0)" class="input-group-text bg-white text-muted" >
                                                        <i  class="zmdi zmdi-eye text-muted"aria-hidden="true" ></i>
                                                          </a>
                                                          <input type="email" class="input100 border-start-0 form-control ms-0" placeholder="Confirm Password" [(ngModel)]="password_confirmation" name="password_confirmation">
                                                      </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </ng-template>
                                          </li>
                                    </ul>
                                </div>
                                <div class="card card-group mb-0">
                                    <div class="card p-4">
                                        <div class="card-body">
                                            <div [ngbNavOutlet]="nav" class="ml-4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  