<app-page-header
  [title]="'Population Group'"
  [items]="['Groups']"
  [active_item]="'Population Groups'"
></app-page-header>

<div class="card-footer text-end" *ngIf="authService.hasPermission('can_create_group')">
  <a  class="btn ms-2 btn-primary my-1" routerLink="/pages/groups/create-group">
    <i class="fe fe-plus"></i>  Add Group
  </a>
</div>

<!-- row opened -->
<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card overflow-visible">
      <div class="card-header pb-0">
        <div>
          <h6 class="main-content-label mb-1">Population Groups</h6>
        </div>
      </div>
      <div class="card-body">
        <div class="">
          <form action="" class="ngb-table">
            <div class="form-group form-inline">
              Search
              <input class="form-control ms-2" type="text" name="searchTerm" />
            </div>
            <div class="table-responsive">
              <table class="table table-striped border">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Prayercell Name</th>
                    <th *ngIf="authService.hasPermission('can_view_groups')">Actions</th>
                  </tr>
                </thead>
                <tbody *ngIf="isLoading">
                  <tr *ngFor="let item of [1,2,3]">
                    <td><div class="skeleton skeleton-text"></div></td>
                    <td><div class="skeleton skeleton-text"></div></td>
                    <td><div class="skeleton skeleton-btn"></div></td>
                  </tr>
                </tbody>
                <tbody *ngIf="!isLoading">
                  <tr *ngFor="let group of groups; index as i">
                    <th>{{ i + 1 }}</th>
                    <th>{{ group.name }}</th>
                    <td>
                      <div class="g-2">
                        <td>
                          <div class="g-2">
                            <a 
                            *ngIf="authService.hasPermission('can_view_groups')"
                              routerLink="view/{{ group.id }}"
                              class="btn text-primary btn-sm"
                              data-bs-toggle="tooltip"
                              ngbTooltip="View"
                              ><span class="fe fe-eye fs-14"></span
                            ></a>

                            <a 
                            *ngIf="authService.hasPermission('can_edit_group')"
                              routerLink="edit/{{ group.id }}"
                              class="btn text-primary btn-sm"
                              data-bs-toggle="tooltip"
                              ngbTooltip="Edit"
                              ><span class="fe fe-edit fs-14"></span
                            ></a>

                            <a 
                            *ngIf="authService.hasPermission('can_delete_group')"
                              (click)="deleteGroup(group.id)"
                              class="btn text-danger btn-sm"
                              data-bs-toggle="tooltip"
                              ngbTooltip="Delete"
                              ><span class="fe fe-trash-2 fs-14"></span
                            ></a>
                          </div>
                        </td>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
