.form-control {
    -webkit-appearance: menulist; /* Chrome, Safari, Opera */
    -moz-appearance: menulist; /* Firefox */
    appearance: menulist; /* Standard syntax */
    background-color: white; /* Ensure the background color is set */
    border: 1px solid #e9e9e9; /* Ensure there is a border */
    padding: 6px 12px; /* Adjust padding */
    border-radius: 4px; /* Adjust border radius */
  }
  
  /* Additional style for dropdown arrow if needed */
  .form-control::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 5px solid #525050; /* Arrow color */
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }