:root {
    --primary-rgb: 108, 95, 252;
    --primary-bg-color: rgb(var(--primary-rgb));
    --primary-bg-hover: rgb(var(--primary-rgb), 0.9);
    --primary-bg-border: rgb(var(--primary-rgb));
    --primary01: rgba(var(--primary-rgb), 0.1);
    --primary02: rgba(var(--primary-rgb), 0.2);
    --primary03: rgba(var(--primary-rgb), 0.3);
    --primary04: rgba(var(--primary-rgb), 0.4);
    --primary05: rgba(var(--primary-rgb), 0.5);
    --primary06: rgba(var(--primary-rgb), 0.6);
    --primary07: rgba(var(--primary-rgb), 0.7);
    --primary08: rgba(var(--primary-rgb), 0.8);
    --primary09: rgba(var(--primary-rgb), 0.9);
    --primary005: rgba(var(--primary-rgb), 0.05);
    --dark-body: #292e4a;
    --dark-border: #30314e;
    --transparent-primary: #6c5ffc;
    --transparent-bg-rgb: 88, 76, 217;
    --transparent-body: rgb(var(--transparent-bg-rgb));
    --transparent-theme: rgba(0, 0, 0, 0.2);
    --transparent-border: rgba(255, 255, 255, 0.1);
    --blue: #1a1a3c;
    --dark-primary-hover: #233ac5;
    --primary-transparentcolor: #eaedf7;
    --darkprimary-transparentcolor: #2b356e;
    --transparentprimary-transparentcolor: rgba(255, 255, 255, 0.05);
    --float-right: right;
    --float-left: left;
    --indigo: #4b0082;
    --purple: #6f42c1;
    --pink: #fc5296;
    --orange: #fd7e14;
    --yellow: #FBB034;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #6c5ffc;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/*Color variables*/
/*Gradient variables*/
/*white variables*/
/*black variables*/
/*float variables*/
/*shadow variables*/
/*Dark Theme Variables*/
/*Transparent variables*/
@media (max-width: 575px) {
    .dual-list {
        flex-direction: column !important;
    }

    .dual-list .listbox {
        width: 100% !important;
        margin: 10px !important;
    }
}

.dark-mode .ql-snow .ql-stroke,
.transparent-mode .ql-snow .ql-stroke {
    stroke: #fff;
}

.dark-mode .was-validated .form-select:invalid:not([multiple]):not([size]),
.dark-mode .was-validated .form-select:invalid:not([multiple])[size="1"],
.dark-mode .form-select.is-invalid:not([multiple]):not([size]),
.dark-mode .form-select.is-invalid:not([multiple])[size="1"],
.transparent-mode .was-validated .form-select:invalid:not([multiple]):not([size]),
.transparent-mode .was-validated .form-select:invalid:not([multiple])[size="1"],
.transparent-mode .form-select.is-invalid:not([multiple]):not([size]),
.transparent-mode .form-select.is-invalid:not([multiple])[size="1"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}

.rtl .was-validated .form-select:invalid:not([multiple]):not([size]),
.rtl .was-validated .form-select:invalid:not([multiple])[size="1"],
.rtl .form-select.is-invalid:not([multiple]):not([size]),
.rtl .form-select.is-invalid:not([multiple])[size="1"] {
    background-position: left 0.75rem center, center left 2.25rem;
    padding-left: 4.125rem;
    padding-right: 0.75rem;
}

.rtl .was-validated .form-control:invalid,
.rtl .form-control.is-invalid {
    padding-left: calc(1.5em + 0.75rem);
    padding-right: calc(1.5em + 0.75rem);
    background-position: left calc(0.375em + 0.1875rem) center;
}

.rtl .was-validated .form-control:valid,
.rtl .form-control.is-valid {
    padding-left: calc(1.5em + 0.75rem);
    padding-right: calc(1.5em + 0.75rem);
    background-position: left calc(0.375em + 0.1875rem) center;
}

.rtl .form-select {
    background-position: left 0.75rem center;
    padding: 0.5rem 0.75rem 0.5rem 1.75rem;
}

.mat-elevation-z8 {
    box-shadow: none;
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-color: #e9edf4;
}

.dark-mode .mat-button.mat-primary.mat-button-disabled,
.dark-mode .mat-button.mat-accent.mat-button-disabled,
.dark-mode .mat-button.mat-warn.mat-button-disabled,
.dark-mode .mat-button.mat-button-disabled.mat-button-disabled,
.dark-mode .mat-icon-button.mat-primary.mat-button-disabled,
.dark-mode .mat-icon-button.mat-accent.mat-button-disabled,
.dark-mode .mat-icon-button.mat-warn.mat-button-disabled,
.dark-mode .mat-icon-button.mat-button-disabled.mat-button-disabled,
.dark-mode .mat-stroked-button.mat-primary.mat-button-disabled,
.dark-mode .mat-stroked-button.mat-accent.mat-button-disabled,
.dark-mode .mat-stroked-button.mat-warn.mat-button-disabled,
.dark-mode .mat-stroked-button.mat-button-disabled.mat-button-disabled,
.transparent-mode .mat-button.mat-primary.mat-button-disabled,
.transparent-mode .mat-button.mat-accent.mat-button-disabled,
.transparent-mode .mat-button.mat-warn.mat-button-disabled,
.transparent-mode .mat-button.mat-button-disabled.mat-button-disabled,
.transparent-mode .mat-icon-button.mat-primary.mat-button-disabled,
.transparent-mode .mat-icon-button.mat-accent.mat-button-disabled,
.transparent-mode .mat-icon-button.mat-warn.mat-button-disabled,
.transparent-mode .mat-icon-button.mat-button-disabled.mat-button-disabled,
.transparent-mode .mat-stroked-button.mat-primary.mat-button-disabled,
.transparent-mode .mat-stroked-button.mat-accent.mat-button-disabled,
.transparent-mode .mat-stroked-button.mat-warn.mat-button-disabled,
.transparent-mode .mat-stroked-button.mat-button-disabled.mat-button-disabled {
    color: rgba(255, 255, 255, 0.2);
}

.dark-mode .apexcharts-datalabels-group text,
.transparent-mode .apexcharts-datalabels-group text {
    fill: #fff;
}

.dark-mode .apexcharts-tooltip.apexcharts-theme-light {
    background: #2a2a4a;
    border-color: rgba(255, 255, 255, 0.1);
}

.transparent-mode .apexcharts-tooltip.apexcharts-theme-light {
    background: var(--transparent-body);
    border-color: rgba(255, 255, 255, 0.1);
}

.apexcharts-canvas {
    margin: auto;
}

.apexcharts-canvas svg:nth-last-child(3) {
    overflow: visible !important;
}

.apexcharts-canvas svg:nth-last-child(2) {
    overflow: visible !important;
}

.rtl .apexcharts-canvas #SvgjsG2605 text,
.rtl .apexcharts-canvas #SvgjsG2547 text {
    text-anchor: middle;
}

.rtl .apexcharts-canvas .apexcharts-datalabels text {
    text-anchor: middle;
}

.rtl .carousel-container-padding {
    padding-right: 40px;
    padding-left: inherit;
}

.rtl .carousel-container-padding-right {
    padding-left: 40px;
    padding-right: inherit;
}

.color-menu .sub-slide .sub-side-menu__item {
    color: #e7eefb !important;
}

.gradient-menu .sub-slide .sub-side-menu__item {
    color: #e7eefb !important;
}

.color-header .search-header,
.dark-header .search-header,
.gradient-header .main-header-center .search-header {
    background-color: transparent !important;
}

.color-header .main-header-center .header-search {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.component-switcher .color-picker.open {
    top: auto !important;
    left: 300px !important;
}

.component-switcher .color-picker.open .arrow.arrow-bottom-right {
    display: none;
}

.error-page1 .nav-tabs .nav-link.active {
    background: #fff;
}

.side-menu__label {
    cursor: pointer;
}

.dark-mode tspan {
    fill: #ffffff !important;
}

/*# sourceMappingURL=material.css.map */