<div class="page-style1 light-mode default-sidebar error-page1">
    <div class="img-card bg-primary">
        <div class="page">
            <div class="container">
                <div class="row">
                    <div class="col mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-md-9 col-lg-9">
                                <div class="card card-group mb-0">
                                    <div class="card p-4">
                                        <div class="card-body">
                                            <img src="./assets/images/brand/email.svg" class="header-brand-img desktop-logo"  alt="logo" style="height:200px; width: 200px; margin: 0 auto; display: block;" />
                                            <div class="ml-4">
                                                <h2 class="mb-4 text-center">Verify your email Address</h2>
                                                <p class="text-center">A verification email has been sent to your email <strong style="color: #175351;">{{email}} </strong> Please check 
                                                    your email and click the link provided in email to complete your account registration
                                                </p>
                                                <p>If you do not receive the email within the next 5 minutes, use the button below to resend 
                                                    verification email
                                                </p>
                                                <div class="container-login100-form-btn">
                                                    <button (click)="resendVerificationEmail()" class="btn btn-lg  btn-primary">
                                                        Resend Verification Email
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>