.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    display: inline-block;
    height: 35px;
    width: 100%;
    animation: pulse 1.5s infinite ease-in-out;
    margin-bottom: 5px;
}

.skeleton-text {
    width: 100%;
    height: 35px;
}

.skeleton-btn {
    width: 100px;
    height: 35px;
}

@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #f5f5f5;
    }
    100% {
        background-color: #e0e0e0;
    }
}