<app-page-header
  [title]="'Date Collections'"
  [items]="['Collections']"
  [active_item]="'All Collections'"
></app-page-header>

<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card overflow-visible">
      <div class="card-header pb-0">
        <div>
          <h6 class="main-content-label mb-1">Collection Categorized by Dates</h6>
          <p class="text-muted card-sub-title"></p>
        </div>
      </div>
      <div class="card-body">
        <div class="">
          <form action="" class="ngb-table">
            <div class="form-group form-inline">
              Search
              <input class="form-control ms-2" type="text" name="searchTerm" />
            </div>
            <div class="table-responsive">
              <table
                id="data-table"
                class="table table-striped border"
              >
                <thead class="border-top">
                  <tr>
                    <th>NO no no.</th>
                    <th>Contribution Date</th>
                    <th>Total</th>
                    <th *ngIf="authService.hasPermission('view contribution types')">Action</th>
                  </tr>
                </thead>
                 <tbody *ngIf="isLoading">
                  <tr *ngFor="let item of [1,2,3,4]">
                    <td><div class="skeleton skeleton-text"></div></td>
                    <td><div class="skeleton skeleton-text"></div></td>
                    <td><div class="skeleton skeleton-btn"></div></td>
                    <td><div class="skeleton skeleton-btn"></div></td>
                  </tr>
                </tbody>

                <tbody *ngIf="!isLoading">
                  <tr
                    class="border-bottom"
                    *ngFor="let collection of paginatedCollections; index as i"
                  >
                    <td>
                      <div class="d-flex">
                        <div class="mt-0 mt-sm-3 d-block">
                          <h6 class="mb-0 fs-14 fw-semibold">{{ i + 1 }}</h6>
                        </div>
                      </div>
                    </td>

                    <td>
                      <span class="mt-sm-2 d-block">{{ collection.contribution_date | date:'mediumDate'
                      }}</span>
                    </td>
                    <td>
                      <span class="mt-sm-2 d-block">{{ collection.total_amount | currency:'KES ':'symbol':'1.2-2'
                      }}</span>
                      
                    </td>
                    <td>
                      <div class="mt-2">
                        <a 
                          routerLink="view/{{collection.contribution_date}}"
                          class="btn text-primary btn-sm"
                          data-bs-toggle="tooltip"
                          ngbTooltip="View"
                          ><span class="fe fe-eye fs-14"></span
                        ></a>
                        
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

                 <!-- Pagination -->
          <div class="d-flex justify-content-between align-items-center pt-3">
            <p class="mb-0">
              Showing {{ (currentPage - 1) * pageSize + 1 }} –
              {{ (currentPage - 1) * pageSize + paginatedCollections.length }}
              of {{ totalLength }} members
            </p>
            <ul class="pagination mb-0">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="onPageChange(currentPage - 1)">Prev</a>
              </li>
              

               <!-- Pages with ellipsis -->
              <li *ngFor="let page of getDisplayedPages()" class="page-item" [class.active]="page === currentPage"
                [class.disabled]="page === '...'">

                <a class="page-link" (click)="page !== '...' && onPageChange(page)">
                  {{ page }}
                </a>
              </li>

              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
              </li>
            </ul>
          </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
